
header{
	background-color:yellow;
	width:500px;
	height:300px;
}
header h1{
	border:1px yellow solid;	
	background-color:red;
	padding-top:50px;
}
header p{
color:white;
font-weight:bold;
background-color:red;
height:200px;
padding-left:50px;
width:400px;

}

nav{
	border: black solid 1px;
	margin: 50px;

}
main{
background-color: silver;
}
main h2{
	margin:50px;
}
h2+ p{
	background-color:white;
	margin:50px;
	color:black;
	
}
p{
	background-color:black;
	margin:50px;
	color:white;
}
main + footer{
border:10px blue dashed;
}
footer p{
background-color:blue;
color:white;
padding-top:2px;
padding-bottom:2px;
}
table{
background-color:green;
	margin:50px;
}
table td{
	border: 1px ridge #000;
	background-color: white;
}
table th{
	border: 1px ridge #000;
	background-color:yellow;
	color:red;
}
thead th{
color:black;
}
tbody+th{
color:black;
}
tfoot th{
	background-color:red;
	color:yellow;
}
