body{
background-image: url("Background.jpg");
}
h1 {
	background-color: #d0e4fe;
	border-style: dashed dotted hidden;
	border-width:10px;
	border-color:green;
	font-style:italic;
	font-family:"Comic Sans MS",cursive, sans-serif;
	font-size:50px;
	font-weight:bold;
	font-variant:small-caps;
	color:#99FF99;
}
h2{
	background-color:orange;
	border-style: outset dashed ;
	border-width:3px;
	border-color:yellow;
	font-style:normal;
	font-family:Impact,Charcoal, sans-serif;
	font-size:25px;
	font-weight:normal;
	font-variant:normal;
	color:#660066;
}
p{
	background-color:yellow;
	border-style: ridge dashed dotted;
	border-width:5px;
	border-color:silver;
	font-style:normal;
	font-family:"Lucida Console",Monaco, monospace;
	font-size:15px;
	font-weight:normal;
	font-variant:normal;
	color:#000FF6;
}
footer{
	background-color:red;
	border-style:dotted ridge none;
	border-width:15px;
	border-color:purple;
	font-style:italic;
	font-family:"Lucida Console",Monaco, monospace;
	font-size:30px;
	font-weight:bold;
	font-variant:small-caps;
	color:#CCFF33;
/*
*Create a new file called "main.css"
*Add a link element to the head of your index.html file
*<link rel="stylesheet" href="main.css" type="text/css">
*Edit the main.css file
*add a declaration for each element in the body of your index.html file.
*add properties to style the background color of each element.
*add properties to style the border of each element.
*add properties to style the font of each element.
*View your index.html in the development server.
*Validate your index.html file.
*Validate your main.css file.
*Copy this list of requirements and paste it into your "main.css" file as a *css comment. Put an asterisk in front of each one that you did.
*Upload to the production server with sftp.
*View your index.html in the production server.
*/
}
